@font-face {
    font-family: 'HYYaKuHeiJ';
    src: url('font/HYYaKuHeiJ.eot'); /* IE9 Compat Modes */
    src: url('font/HYYaKuHeiJ.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/HYYaKuHeiJ.woff') format('woff'), /* Modern Browsers */
    url('font/HYYaKuHeiJ.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/HYYaKuHeiJ.svg#YourWebFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
body{
    background: rgba(0,0,0,0.8);
    overflow-x: hidden;
}
body, h1, h2, h3, h4, h5, h6, button, .button{
    font-family: HYYaKuHeiJ;
    font-style: oblique;
}
.closeBtn{
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 2rem;
    right: 5rem;
    font-size: 2rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
}
/*webkit滚动条*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.8);
    border-radius: 1000px;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f8b100;
    border-radius: 2px;
}
@font-face {
    font-family: 'hyg1gjm';
    src: url('font/hyg1gjm.eot'); /* IE9 Compat Modes */
    src: url('font/hyg1gjm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/hyg1gjm.woff') format('woff'), /* Modern Browsers */
    url('font/hyg1gjm.ttf') format('truetype'), /* Safari, Android, iOS */
    url('font/hyg1gjm.svg#YourWebFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
.reveal-modal{
    background:rgba(0,0,0,0.8);
    border: none;
    outline: none;
}
@media only screen and (min-width: 40.0625em){
    .reveal-modals{
        max-width: 43.5rem;
    }
}
.reveal-modal .close-reveal-modal{
    font-size: 3.5rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight:normal;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
    border:1px solid #f8b100;
    border-style: dashed;
    border-radius: 0.3rem;
    outline:none
}
button, .button{
    font-size: 1.5rem;
    padding: 0.3rem 2rem 0.3625rem 2rem;
    background:none;
    border:1px solid #f8b100;
    border-style: dashed;
    color:#f8b100;
    outline:none
}
@media screen and (max-width: 700px) {
    button, .button{
        font-size: 1rem;
    }
}
button:hover, button:focus, .button:hover, .button:focus{
    background: none;
    color:#f8b100;
}
.small-btn{
    padding: 0.3rem 1rem;
    float: left;
    border: 1px solid #f8b100;
    border-style: dashed;
    background: none;
    color: #f8b100;
    font-size: 1rem;
}
.yellow{
    color: #f8b100;
}
.white{
    color: white;
}
.title-size,.title-size li,.title-size h3{
    font-size: 1.5rem;
}
@media screen and (max-width: 700px) {
    .title-size,.title-size li,.title-size h3{
        font-size: 1rem;
    }
}
.uploader{
    width: 12rem;
    margin: 1rem auto;
    position: relative;
}
.message-content{
    padding:0 2rem;
    display: block;
}
.message-content .row{
    margin: 1rem auto;
}
.mt1rem{
    margin-top: 1rem;
}
.ml1rem{
    margin-left: 1rem;
}
.mr1rem{
    margin-right: 1rem;
}
ul li{
    list-style: none;
}
.select-btn {
    position: relative;
    float: left;
    width: 9rem;
    height: 2.3125rem;
    padding-left:5rem;
    background: white;
    color: #f8b100;
    line-height: 2.3125rem;
    cursor: pointer;
    border:1px solid #f8b100;
    border-style: dashed;
    border-radius: 0.3rem;
    outline:none
}
.select-btn:before {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #f8b100 transparent;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
}
.select-btn:after {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.select-btn.active:before{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-btn.active:after{
    top: 20px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-btn .dropdown {
    position: absolute;
    width: 5rem;
    right: 0;
    display: none;
    padding: 0;
    margin: 0;
    top:2.2rem;
    background: #1d1d1d;
    border:1px solid #f8b100;
    border-style: dashed;
    border-radius: 0.3rem;
}
.select-btn .dropdown img{
    width: 90%;
    margin: 0 4px;
    height: 1px;
    display: inherit;
}
.select-btn.active .dropdown {
    display: block;
}
.select-btn .dropdown li {
    text-align: center;
}
.select-btn .dropdown li:hover {
    opacity: 0.5;
}
.message-success{
    text-align: center;
    height: 40rem;
    display: none;
}
.message-success>img{
    width: 15%;
    margin-top: 13rem;
    margin-bottom: 2rem;
}
/*投票*/
.modal-size{
    min-width:50rem;
    height: 50rem;
    overflow: auto;
}
.vote-content{
    padding:0 2rem;
    color: #f8b100;
}
.vote-content h1{
    text-align: center;
    margin: 5rem auto 10rem;
    color: #f8b100;
}
.vote-content li{
    position: relative;
    width: 100%;
}
.vote-img{
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -6rem;
    left: 4rem;
}
.vote-title{
    position: absolute;
    height: 6rem;
    left: 12rem;
    width: 60%;
    color: #f8b100;
    top: -5.5rem;
}
.vote-title p{
    font-family: HYYaKuHeiJ;
    font-size: 1rem;
    margin: 0;
}
.vote-title h2{
    color: #f8b100;
    margin: 0;
    font-family: HYg1gj;
    font-size: 1.2rem;
}
.vote-box{
    font-family:HYg1gj ;
    font-size: 1rem;
    padding: 2rem 1rem;
    min-height: 10rem;
    width: 100%;
    border:1px solid #f8b100;
    border-style: dashed;
    margin: 0 auto;
}
.vot-box-message li{
    width: 33.33%;
    float: left;
}
.vote-btn{
    background: #f8b100;
    color: black;
    margin: 2rem 0 10rem;
}
.mt5rem{
    margin: 5rem auto;
}
.content{
    background:url('../img/bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.btns{
    display: block;
    width: 13rem;
    height: 5rem;
    position: absolute;
    top: 75rem;
}
.wybm{
    right: 39rem;
}
.wytp{
    right: 25rem;
}
.hdjs{
    right: 39rem;
}
.ljgd{
    display: block;
    width: 7rem;
    height: 5rem;
    position: absolute;
    right: 0.5rem;
    bottom: 2.5rem;
}
.rdb{
    width: 100%;
    position: absolute;
    bottom: 2rem;
}
.rdb-bg{
    width: 80%;
    margin:0 auto;
    position: relative;
    background:url('../img/rdb.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rdb-bg ul{
    margin: 10px 0 0 0;
}
.border{
    border: 1px solid #f8b100;
    width: 100%
}
.rdb-bg h1{
    text-align: center;
    color: #f8b100;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.rdb-left{
    float: left;
    width: 29%;
    margin-left: 9%;
}
.rdb-right{
    float: left;
    width: 28%;
    margin-left: 23%;
}
.rdb-bg li{
    color:#f8b100 ;
    font-family: HYYaKuHeiJ;
    font-style: oblique;
    font-size: 1.5rem;
}
.hdjs-bg{
    background: url(../img/pc.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 195rem;
}
@media only screen and (max-width: 415px){
    .vot-box-message li{
        width: 100%;
    }
    .rdb-bg h1{
        font-size: .7rem;
    }
    .rdb-bg ul {
        margin: 5px 0 0 0;
    }
    .vote-img {
        width: 4rem;
        height: 4rem;
        top: -3.5rem;
        left: 1rem;
    }
    .vote-title {
        height: 6rem;
        left: 6rem;
        top: -4rem;
    }
    .vote-title p,.vote-box{
         font-size: 0.7rem;
     }
    .vote-title h2{
        font-size: 0.9rem;
    }
    input{
        width: 60%!important;
    }
    textarea{
        margin-top: 2rem;
        width: 100%!important;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: -3rem;
    }
    .rdb-left{
        float: left;
        width: 40%;
        margin-left: 9%;
    }
    .rdb-bg li{
        font-size: 0.5rem;
    }
    .rdb-right{
        float: left;
        width: 40%;
        margin-left: 7%;
    }
    .modal-size{
        min-width: 0;
        height: 31rem;
        width:100%;
    }
    .hdjs-bg{
        background: url(../img/ios.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .content{
        background:url('../img/bg-mobile.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .rdb-bg{
        background:url('../img/rdb2.png') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px){
    .rdb-bg{
        padding-top: 1.5rem;
        height: 10.3rem;
    }
    .hdjs-bg{
        height: 73rem;
    }
    .content{
        width: 22rem;
        height: 122rem;
    }
    .btns{
        width: 5rem;
        height: 2rem;
        top: 25.5rem;
    }
    .wybm{
        right: 14.5rem;
    }
    .wytp{
        right: 8.5rem;
    }
    .hdjs{
        right: 2.5rem;
    }
    .ljgd{
        width: 3rem;
        height: 2rem;
        bottom: 13rem;
        right: 2.5rem;
    }
}
@media only screen and (min-width: 360px) and (max-width: 374px){
    .rdb-bg{
        padding-top: 1.5rem;
        height: 10.3rem;
    }
    .hdjs-bg{
        height: 73rem;
    }
    .content{
        width: 22rem;
        height: 126.5rem;
    }
    .btns{
        width: 5.5rem;
        height: 2rem;
        top: 26.5rem;
    }
    .wybm{
        right: 14.5rem;
    }
    .wytp{
        right: 8rem;
    }
    .hdjs{
        right: 2rem;
    }
    .ljgd{
        width: 3rem;
        height: 2rem;
        bottom: 14rem;
        right: 2rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px){
    .rdb-bg {
        height: 11rem;
        padding-top:1.5rem;
    }
    .rdb-bg li{
        font-size: .5rem;
    }
    .hdjs-bg{
        height: 78rem;
    }
    .content{
        height: 130rem;
    }
    .btns{
        width: 6rem;
        height: 2rem;
        top: 27.5rem;
    }
    .wybm{
        right: 15.5rem;
    }
    .wytp{
        right: 8.5rem;
    }
    .hdjs{
        right: 2rem;
    }
    .ljgd{
        width: 3rem;
        height: 2rem;
        bottom: 14rem;
        right: 3rem;
    }

}
@media only screen and (min-width: 414px) and (max-width: 415px){
    .rdb-bg{
        height:12.2rem;
        padding-top: 1.5rem;
    }
    .rdb-bg li{
        font-size: .4rem;
    }
    .hdjs-bg{
        height: 88rem;
    }
    .content{
        height: 142.5rem;
    }
    .btns{
        width: 6rem;
        height: 2rem;
        top: 30.5rem;
    }
    .wybm{
        right: 17rem;
    }
    .wytp{
        right: 10rem;
    }
    .hdjs{
        right: 3rem;
    }
    .ljgd{
        width: 3rem;
        height: 2rem;
        bottom: 15rem;
        right: 3.5rem;
    }
}
@media only screen and (min-width: 415px) {
    .rdb{
        bottom: 0;
    }
    .hdjs-bg{
        background: url(../img/pc.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .content{
        background:url('../img/bg.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .rdb-bg{
        background:url('../img/rdb.png') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media only screen and (min-width: 415px) and (max-width: 1279px){
    .hdjs-bg{
        height: 165rem;
    }
    .rdb-bg ul{
        margin: 5px 0 0 0;
    }
    .content{
        width: 64rem;
        height: 354rem;
    }
    .btns{
        width: 15rem;
        height: 4.5rem;
        top: 75.5rem;
    }
    .wybm{
        right: 42rem;
    }
    .wytp{
        right: 25rem;
    }
    .hdjs{
        right: 7rem;
    }
    .ljgd{
        width: 8rem;
        height: 5rem;
        bottom: 39rem;
        right: 9rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 6rem;
    }
    .rdb-bg{
        height: 25.6rem;
        padding-top: 5rem;
    }
    .rdb-bg li{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .hdjs-bg{
        height: 185rem;
    }
    .content{
        width: 80rem;
        height: 443rem;
    }
    .btns{
        width: 18rem;
        height: 6rem;
        top: 94rem;
    }
    .wybm{
        right: 53rem;
    }
    .wytp{
        right: 31rem;
    }
    .hdjs{
        right: 9rem;
    }
    .ljgd{
        width: 9rem;
        height: 6rem;
        bottom: 49rem;
        right: 11rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 8rem;
    }
    .rdb-bg{
        height: 32rem;
        padding-top: 7rem;
    }
    .rdb-bg li{
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .hdjs-bg{
        height: 197rem;
    }
    .content{
        width: 86rem;
        height: 476rem;
    }
    .btns{
        width: 21rem;
        height: 6rem;
        top: 101rem;
    }
    .wybm{
        right: 57rem;
    }
    .wytp{
        right: 33rem;
    }
    .hdjs{
        right: 9rem;
    }
    .ljgd{
        width: 9rem;
        height: 7rem;
        bottom: 52rem;
        right: 12rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 9rem;
    }
    .rdb-bg{
        height: 34.4rem;
        padding-top: 8rem;
    }
    .rdb-bg li{
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1679px){
    .hdjs-bg{
        height: 206rem;
    }
    .content{
        width: 90rem;
        height: 498rem;
    }
    .btns{
        width: 20rem;
        height: 6rem;
        top: 106rem;
    }
    .wybm{
        right: 60rem;
    }
    .wytp{
        right: 35rem;
    }
    .hdjs{
        right: 10rem;
    }
    .ljgd{
        width: 9rem;
        height: 6.5rem;
        bottom: 55rem;
        right: 13rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 12rem;
    }
    .rdb-bg{
        height: 36rem;
        padding-top: 8rem;
    }
    .rdb-bg li{
        font-size: 1.3rem;
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1919px) {
    .hdjs-bg{
        height: 206rem;
    }
    .content{
        width: 105rem;
        height: 580rem;
    }
    .btns{
        width: 25rem;
        height: 7rem;
        top: 124rem;
    }
    .wybm{
        right: 69rem;
    }
    .wytp{
        right: 40rem;
    }
    .hdjs{
        right: 11rem;
    }
    .ljgd{
        width: 11rem;
        height: 8rem;
        bottom: 63rem;
        right: 15rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 12rem;
    }
    .rdb-bg{
        height: 42rem;
        padding-top: 9rem;
    }
}
@media only screen and (min-width: 1920px){
    .hdjs-bg{
        height: 195rem;
    }
    .content{
        width:120rem;
        height: 665rem;
    }
    .btns{
        width: 28rem;
        height: 8rem;
        top: 142rem;
    }
    .wybm{
        right: 79rem;
    }
    .wytp{
        right: 46rem;
    }
    .hdjs{
        right: 13rem;
    }
    .ljgd{
        width: 13rem;
        height: 10rem;
        bottom: 73rem;
        right: 17rem;
    }
    .rdb{
        width: 100%;
        position: absolute;
        bottom: 12rem;
    }
    .rdb-bg{
        height: 48rem;
        padding-top: 12rem;
    }
}
